<!-- https://dev-841469-admin.oktapreview.com/admin/settings/customizableSignIn# -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="none" />
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Clarizen</title>

  {{{SignInWidgetResources}}}
  <!-- 
  <script type="text/javascript"
    src="https://op1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.21.0/js/okta-sign-in.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://op1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.21.0/css/okta-sign-in.min.css">

  <link rel="stylesheet" type="text/css"
    href="https://op1static.oktacdn.com/assets/js/sdk/okta-signin-widget/2.21.0/css/okta-theme.css">
  <link rel="stylesheet" type="text/css" href="https://op1static.oktacdn.com/assets/loginpage/css/custom-signin.css"> -->

  <style>
    body {
      margin: 0;
      font-family: Muli, sans-serif;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
    }

    .container {
      display: flex;
      width: 100vw;
      height: 100vh;
    }

    .right-side {
      display: flex;
      flex: 5;
    }

    .left-side {
      display: flex;
      flex: 1;
      background: #E5E5E5;
    }

    .left-side .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .left-side .inner h3 {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
      color: #000000;
      margin: 20px 0;
    }

    .left-side.login-mode .inner .rules {
      display: none;
    }

    .left-side .inner .rules {
      padding-left: 10px;
      font-style: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }

    .left-side .inner .rules .rules-headline {
      font-weight: bold;
    }

    ul {
      padding: 0;
      list-style: none;
      margin-top: 5px;
    }

    .reset-password-container {
      width: 240px;
      background: #E5E5E5 !important;
      display: flex;
    }

    .right-side .bg-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0) 30.31%, rgb(0, 0, 0) 100%), url(https://go.clarizen-ci.io/static/media/clarizen-go-login-accomplish-1.8a28d5b4.jpg);
      width: 100%;
      height: 100%;
    }

    /*okta -override*/
    #okta-sign-in.auth-container .okta-sign-in-header {
      border-bottom-color: #ddd;
      display: none;
    }

    #okta-sign-in.auth-container h2 {
      font-weight: bold;
      color: #2f3f4a;
      display: none;
    }

    #okta-sign-in.auth-container.main-container {
      border: none;
      margin: 0;
    }

    #okta-sign-in.no-beacon .auth-content {
      padding: 0;
      margin: 0;
    }

    #okta-sign-in.auth-container .okta-form-subtitle,
    #okta-sign-in.auth-container .okta-form-label {
      display: none;
    }

    #okta-sign-in.auth-container .password-reset {
      display: flex;
      background: #E5E5E5;
    }

    #okta-sign-in.auth-container .button-primary {
      height: 36px;
      width: 240px;
      background: #49aad3 !important;
      border-radius: 10px;
      color: #fff;
      font-size: 14px !important;
      letter-spacing: .65px;
      line-height: 16px;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border: none;
    }

    #okta-sign-in.auth-container .button-primary:hover {
      background: #5b91a9 !important;
    }

    .container #okta-sign-in.auth-container .okta-form-input-field {
      height: 36px;
      width: 240px;
      background: #fff;
      /* border: none; */
      border-radius: 18px !important;

    }

    #okta-sign-in .auth-footer {
      display: none;
    }

    #okta-sign-in.auth-container.main-container {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }

    .container #okta-sign-in {
      width: 100%;
      min-width: fit-content;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="left-side">
      <div class="inner">
        <div class="rules">
          <h3>
            Reset your password
          </h3>
          <div class="rules-headline">
            Your password must include:
          </div>
          <ul>
            <li>- at least 8 characters</li>
            <li>- a lower case letter</li>
            <li>- an upper case letter</li>
            <li>- a number</li>
            <li>- no parts of your username</li>
          </ul>
        </div>

        <div id="okta-login-container" class="reset-password-container">
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="bg-image">
      </div>
    </div>
  </div>

  <!--
        "OktaUtil" defines a global OktaUtil object
        that contains methods used to complete the Okta login flow.
     -->
  {{{OktaUtil}}}

  <script type="text/javascript">

    // "config" object contains default widget configuration
    // with any custom overrides defined in your admin settings.
    var config = OktaUtil.getSignInWidgetConfig();

    config["i18n"]["en"]["password.reset.title"] = "Reset your password";
    config["idps"] = [{ type: 'Microsoft', id: '0oaioupkdsOBXjdHN0h7' }];
    // Render the Okta Sign-In Widget
    var oktaSignIn = new OktaSignIn(config);
    oktaSignIn.renderEl({ el: '#okta-login-container' },
      OktaUtil.completeLogin,
      function (error) {
        // Logs errors that occur when configuring the widget.
        // Remove or replace this with your own custom error handler.
        console.log(error.message, error);
      }
    );
  </script>

  <script type="text/javascript">
    function checkIsResetPass() {
      return window.location.href.indexOf("password-reset") > -1 || window.location.href.indexOf("reset-password") > -1;
    }

    var isResetPassword = checkIsResetPass();
    var leftSide = document.getElementsByClassName('left-side')[0];
    if (isResetPassword) {
      leftSide.classList.add('reset-password-mode')
    }
    else {
      leftSide.classList.add('login-mode')
    }
  </script>
</body>

</html>