<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="none" />
<!--
        <title>{{pageTitle}}</title>
     -->
    <title>Clarizen</title>
    {{{SignInWidgetResources}}}
<style>
body{
background-color: black;
}
.link{
visibility: hidden;  
}
</style>
</head>
<body>
   <!-- <div class="login-bg-image" style="background-image: {{bgImageUrl}}"></div>-->
    <div id="okta-login-container"></div>
	
    <!--
        "OktaUtil" defines a global OktaUtil object
        that contains methods used to complete the Okta login flow.
     -->
    {{{OktaUtil}}}

    <script type="text/javascript">
			
        // "config" object contains default widget configuration
        // with any custom overrides defined in your admin settings.
        var config = OktaUtil.getSignInWidgetConfig();

		config["i18n"]["en"]["password.reset.title"] = "Reset your Clarizen password";
		config["idps"] = [{ type: 'Microsoft', id: '0oa3wr7hjdABpLXrI0x6' }];
        // Render the Okta Sign-In Widget
        var oktaSignIn = new OktaSignIn(config);
        oktaSignIn.renderEl({ el: '#okta-login-container' },
            OktaUtil.completeLogin,
            function(error) {
                // Logs errors that occur when configuring the widget.
                // Remove or replace this with your own custom error handler.
                console.log(error.message, error);
            }
        );
    </script>
</body>
</html>